* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    height: 100vh;
    background-color: #1A7803;
    flex-direction: column;
    border: 10px solid black;
    border-radius: 10%;
    margin: 0 auto;
}

header {
    width: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header>button {
    background-color: #A31717;
    color: black;
    font-size: 2vmin;
    border: 0.1vmin solid black;
    border-radius: 2vmin;
}



main {
    height: 70vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

main>div {
    background-color: #104E00;
    color: black;
    height: 50vmin;
    width: 40vmin;
    border: solid 5px black;
    border-radius: 2vmin;
}

#outcome {
    font-size: 20px;
    visibility: hidden;
}

#result {
    font-size: 20px;
    visibility: hidden;
}

footer {
    width: 100vmin;
    height: 20vmin;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 2vmin;
}

footer>button{
    height: 10vmin;
    width: 10vmin;
}

footer>div{
    height: 10vmin;
    width: 10vmin;
    background-color: darkgray;
    font-size: 3vmin;
    border: 0.5vmin solid #1A7803;
}


#hit {
    background-color: #1A7803;
    font-size: 3vmin;
    border: 0.3vmin solid white;
}

#stay {
    background-color: #F60303;
    font-size: 3vmin;
    border: 0.3vmin solid white;
}

#bet-1 {
    border: 0.5vmin dashed white;
    border-radius: 50%;
    font-size: 3vmin;
    background-color: #1A7803;
}

#bet-5 {
    border: 0.5vmin dashed white;
    border-radius: 50%;
    font-size: 3vmin;
    background-color: #F60303;
}

#deal {
    background-color: darkgray;
    font-size: 2vmin;
    border: 0.5vmin solid #1A7803;
}

button:hover {
    background-color: black;
    color: white;
    border: 0.1vmin solid black;
    transform: scale(0.9);
    transition: transform 150ms ease-in;
}
 #player-cards {
    display: flex;
    flex-direction: row;
 }